.header {
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__content {
  display: flex;
}

.header__title {
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 0px;
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  margin-bottom: 0px;
  max-width: 683px;

  font-family: "Noto serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  font-family: "Noto serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  position: relative;
}

.header__footer-hours {
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

.header__footer-list {
  margin-left: 80px;
  margin-bottom: 40px;
  padding-left: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin-top: auto;
  margin-bottom: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph-direction {
  margin-top: auto;
  margin-bottom: 40px;
  margin-right: 80px;
}