body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header__content {
    display: flex;
}

.header__title {
    margin-top: 183px;
    margin-left: 80px;
    margin-bottom: 0px;
    max-width: 709px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: 1px;
}

.header__description {
    margin-top: 28px;
    margin-left: 80px;
    margin-bottom: 0px;
    max-width: 683px;

    font-family: "Noto serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__span-accent {
    font-family: "Noto serif", "Times New Roman", serif;
    font-style: italic;
    font-size: 58px;
    line-height: 72px;
    color: #2f80ed;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}

.header__footer {
    margin-top: auto;
    width: 100%;
    position: relative;
}

.header__footer-hours {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.header__footer-list {
    margin-left: 80px;
    margin-bottom: 40px;
    padding-left: 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph {
    margin-top: auto;
    margin-bottom: 0px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph-direction {
    margin-top: auto;
    margin-bottom: 40px;
    margin-right: 80px;
}


.nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    left: 124px;
    right: 124px;
    z-index: 2;
}

.nav__links {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.nav__link {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    transition: color 0.3s, text-shadow 0.3s;
}

.nav__link:hover {
    color: #2f80ed;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.span-accent {
    color: #2f80ed;
}

.span-black {
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
}

.footer {
    padding: 40px 124px;
    margin: 0;
}


.recipes {
    padding: 80px 124px;
    background-color: #002d62;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.recipes__background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.recipes__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipes__header {
    margin-top: 100px;
    z-index: 2;
}

.recipes__title {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin-bottom: 24px;
}

.recipes__description {
    z-index: 2;
}

.recipes__subtitle {
    font-family: "Noto Serif", serif;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 80px;
    max-width: 438px;
}

.recipes__videos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 215px;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
}

.video-item {
    position: relative;
    width: 480px;
    height: 273px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.video-item iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    z-index: 2;
}

.video-item__description {
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.footer {
    padding: 40px 124px;
    margin: 0;
}